.dock-label {
    margin-top: 12px;
    margin-bottom: 12px;
}

.dock-button {
    border: none;
    border-radius: 0px;
    background-color: var(--accent-fg-color);
}

.dock-button:hover {
    background-color: color-mix(in srgb, var(--accent-slate) 15%, transparent);
}

.dock-button:active {
    background-color: color-mix(in srgb, var(--accent-slate) 30%, transparent);
}

.clicked-dock-button {
    color: var(--accent-green);
    background-color: var(--accent-fg-color);
    border-left: 3px solid var(--accent-green);
    border-radius: 0px;
}

.dock-box {
    background-color: var(--accent-fg-color);
    border-right: 1px solid var(--border-color);
}

.center-paned {
    border-top: 1px solid var(--border-color);
}

.execute-button {
    color: var(--success-color);
}
