/************ dock 面板 ************/
.dock-box {
    border-right: 1px solid var(--border-color);
}

.dock-label {
    margin-top: 12px;
    margin-bottom: 12px;
}

.dock-button {
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

.dock-button:hover {
    background-color: color-mix(in srgb, var(--accent-slate) 15%, transparent);
}

.dock-button:active {
    background-color: color-mix(in srgb, var(--accent-slate) 30%, transparent);
}

.clicked-dock-button {
    border-left: 3px solid var(--accent-green);
    border-radius: 0px;
}

/************ 主题选择控件 ************/

.center-paned {
    border-top: 1px solid var(--border-color);
}

.execute-button {
    color: var(--success-color);
}

/************ 主题选择控件 ************/
.theme-switcher {
    margin: 9px;
}

.theme-switcher checkbutton {
    padding: 0;
    min-height: 44px;
    min-width: 44px;
    padding: 1px;
    background-clip: content-box;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 1px var(--border-color);
}

.theme-switcher checkbutton.system:checked,
.theme-switcher checkbutton.light:checked,
.theme-switcher checkbutton.dark:checked,
.theme-switcher checkbutton.sepia:checked {
    box-shadow: inset 0 0 0 2px var(--accent-bg-color);
}

.theme-switcher checkbutton.system {
    background-image: linear-gradient(-45deg, #202020 50.01%, #fff 49.99%);
}

.theme-switcher checkbutton.light {
    background-color: #fff;
}

.theme-switcher checkbutton.dark {
    background-color: #2d2d2d;
}

.theme-switcher checkbutton.sepia {
    background-color: #e9e2d7;
}

.theme-switcher checkbutton radio {
    -gtk-icon-source: none;
    border: none;
    background: none;
    box-shadow: none;
    min-width: 12px;
    min-height: 12px;
    transform: translate(27px, 14px);
    padding: 2px;
}

.themeswitcher checkbutton radio:checked {
    -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
    background-color: var(--accent-bg-color);
    color: var(--accent-fg-color);
}

/************ 其他 ************/
